<h1 class="page-heading">BSU Observatory</h1>

<h2>Our data repositories are under construction.</h2>

<p>Our data consist of images in standard astronomy FITS format (both raw and calibrated, plus calibration files for use with raw data).  Additional photometric information (about how bright the stars in the images are and how they change over time) will become available for each set as we generate it on our end.</p>

<h1>Data</h1>

<p>Below is a list of targets imaged at the BSU Observatory with links to specific observing sessions by start date.  Need some help getting started? <a href="https://github.com/BSU-PPOE/About-Our-Data#readme">Follow this link to better understand our data and how it's listed</a>.</p>

<h2 style="font-weight: 500">Asteroids</h2>

<h3>1088 Mitaka</h3>
<ul style="list-style-type: none">
    <li><a href="https://github.com/BSU-PPOE/04022023/">04/02/2023</a></li>
</ul>
    
<h2>Galaxies</h2>

<h3>NGC 598 (Triangulum Galaxy, M33)</h3>

<h3>NGC 5907 (Splinter Galaxy)</h3>

<h2>Type Ia Supernovae</h2>

<h3>SN2022yid</h3>
<ul style="list-style-type:none">
    <li><a href="https://github.com/BSU-PPOE/10272022">10/27/2022</a></li>
    <li><a href="https://github.com/BSU-PPOE/10292022">10/29/2022</a></li>
    <li><a href="https://github.com/BSU-PPOE/11022022">11/02/2022</a></li>
    <li><a href="https://github.com/BSU-PPOE/11032022">11/03/2022</a></li>
    <li><a href="https://github.com/BSU-PPOE/11042022">11/04/2022</a></li>
    <li><a href="https://github.com/BSU-PPOE/11072022">11/07/2022</a></li>
</ul>

<p>How was our initial presentation?</p>

