<h1 class="page-heading">TUTORIALS</h1>

<p>Calibrating Flat Fields in MaxIm DL</p>
<a href="https://www.youtube.com/watch?v=lrxVNixu3Pg" target="_blank">
  <img src="https://img.youtube.com/vi/lrxVNixu3Pg/hqdefault.jpg" alt="YouTube Thumbnail" style="width: 100%; max-width: 500px;">
</a>

<p>Calibrating Data Images in MaxIm DL</p>
<a href="https://www.youtube.com/watch?v=wyDOVJ0B62Y" target="_blank">
  <img src="https://img.youtube.com/vi/wyDOVJ0B62Y/hqdefault.jpg" alt="YouTube Thumbnail" style="width: 100%; max-width: 500px;">
</a>

<p>Stacking Monochrome Images in MaxIm DL</p>
<a href="https://www.youtube.com/watch?v=wSxE3XCbtY0" target="_blank">
  <img src="https://img.youtube.com/vi/wSxE3XCbtY0/hqdefault.jpg" alt="YouTube Thumbnail" style="width: 100%; max-width: 500px;">
</a>

<p>Creating Basic LRGB Astrophotography Images in GIMP</p>
<a href="https://www.youtube.com/watch?v=UbUUEahiFJY" target="_blank">
  <img src="https://img.youtube.com/vi/UbUUEahiFJY/hqdefault.jpg" alt="YouTube Thumbnail" style="width: 100%; max-width: 500px;">
</a>
