main { min-height: 720px; }
.wrapper { max-width: calc(70vw - (30px * 2)); }
.site-header { 
  border-top: none;
  border-bottom: 5px solid #89191f; 
}
#bsu-logo-container { display: inline; }
#bsu-logo { max-height: 50px; }

.site-footer {
  border-top: 1px solid #89191f;
  background-color: #89191f;
}
.footer-col-wrapper {
  color: #fff;
}
/* Force header logo left-alignment on all pages */
.site-header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bsu-logo-container {
  flex: 0 0 auto;
}

.site-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

